---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname;
const hrefStr = href as string;
const isLangRoot = /^\/[a-z]{2}\/?$/.test(hrefStr);
const isActive = hrefStr === pathname || (!isLangRoot && pathname.startsWith(hrefStr));
---

<a
	href={href}
	class:list={[
		"inline-block py-4 px-2 text-black no-underline border-y-4 border-transparent",
		{ "font-bold border-b-accent": isActive },
		className,
	]}
	{...props}
>
	<slot />
</a>
